In [32]:
import wrds

db = wrds.Connection()

Enter your WRDS username [user]: sinhaeng
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [27]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import numpy as np
import pandas as pd
import math


def get_data(start_date, end_date, permno, varlist):
  return db.get_table('crsp.msf', start_date= start_date, end_date= end_date, permno = permno, varlist= varlist)

def adjust_data(df, name):
  df['permno'] = name
  df['ret'] = df['ret'] * 100
  df = df.set_index('date', drop = False)
  return df

In [33]:
tickerList = pd.read_csv(r'C:/Users/user/Documents/GitHub/AY2324S1-ML-Empowered-Stat-Arb/Data/constituents.csv').Symbol
display(tickerList)

start_date = '01/01/2009'
end_date = '01/01/2020'

#db.list_libraries()
#db.list_tables('comp_na_daily_all')

0       MMM
1       AOS
2       ABT
3      ABBV
4      ABMD
       ...
500     YUM
501    ZBRA
502     ZBH
503    ZION
504     ZTS
Name: Symbol, Length: 505, dtype: object

In [7]:
#data = db.raw_sql(f"""select datadate,
#                        prcod AS open,
#                        prchd AS high,
#                        prcld AS low,
#                        prccd AS close,
#                        cshtrd AS volume
#                        from comp.secd
#                        where tic = 'MSFT'
#                        and datadate>='01/01/2009'
#                        and datadate<='01/01/2020'""")
#data.columns = data.columns.str.replace('datadate', 'date')
#data.set_index('date', inplace=True)

In [34]:
opendata = pd.DataFrame()
for ticker in tickerList:
    data = db.raw_sql(f"""select datadate,
                        prcod
                        from comp.secd
                        where tic = '{ticker}'
                        and datadate>='{start_date}'
                        and datadate<='{end_date}'""")
    data.set_index('datadate', inplace=True)
    data.columns = data.columns.str.replace('prcod', ticker)
    opendata = pd.concat([opendata,data],1)
    opendata = opendata.dropna(how='all').dropna(axis=1,how='all')
opendata.to_csv('C:/Users/user/Documents/GitHub/AY2324S1-ML-Empowered-Stat-Arb/Data/Feature Data/open.csv')
print("OPEN DATA FILE WRITTEN")

highdata = pd.DataFrame()
for ticker in tickerList:
    data = db.raw_sql(f"""select datadate,
                        prchd
                        from comp.secd
                        where tic = '{ticker}'
                        and datadate>='{start_date}'
                        and datadate<='{end_date}'""")
    data.set_index('datadate', inplace=True)
    data.columns = data.columns.str.replace('prchd', ticker)
    highdata = pd.concat([highdata,data],1)
    highdata = highdata.dropna(how='all').dropna(axis=1,how='all')
highdata.to_csv('C:/Users/user/Documents/GitHub/AY2324S1-ML-Empowered-Stat-Arb/Data/Feature Data/high.csv')
print("HIGH DATA FILE WRITTEN")

lowdata = pd.DataFrame()
for ticker in tickerList:
    data = db.raw_sql(f"""select datadate,
                        prcld
                        from comp.secd
                        where tic = '{ticker}'
                        and datadate>='{start_date}'
                        and datadate<='{end_date}'""")
    data.set_index('datadate', inplace=True)
    data.columns = data.columns.str.replace('prcld', ticker)
    lowdata = pd.concat([lowdata,data],1)
    lowdata = lowdata.dropna(how='all').dropna(axis=1,how='all')
lowdata.to_csv('C:/Users/user/Documents/GitHub/AY2324S1-ML-Empowered-Stat-Arb/Data/Feature Data/low.csv')
print("LOW DATA FILE WRITTEN")

closedata = pd.DataFrame()
for ticker in tickerList:
    data = db.raw_sql(f"""select datadate,
                        prccd
                        from comp.secd
                        where tic = '{ticker}'
                        and datadate>='{start_date}'
                        and datadate<='{end_date}'""")
    data.set_index('datadate', inplace=True)
    data.columns = data.columns.str.replace('prccd', ticker)
    closedata = pd.concat([closedata,data],1)
    closedata = closedata.dropna(how='all').dropna(axis=1,how='all')
closedata.to_csv('C:/Users/user/Documents/GitHub/AY2324S1-ML-Empowered-Stat-Arb/Data/Feature Data/close.csv')
print("CLOSE DATA FILE WRITTEN")

voldata = pd.DataFrame()
for ticker in tickerList:
    data = db.raw_sql(f"""select datadate,
                        cshtrd
                        from comp.secd
                        where tic = '{ticker}'
                        and datadate>='{start_date}'
                        and datadate<='{end_date}'""")
    data.set_index('datadate', inplace=True)
    data.columns = data.columns.str.replace('cshtrd', ticker)
    voldata = pd.concat([voldata,data],1)
    voldata = voldata.dropna(how='all').dropna(axis=1,how='all')
voldata.to_csv('C:/Users/user/Documents/GitHub/AY2324S1-ML-Empowered-Stat-Arb/Data/Feature Data/volume.csv')
print("VOLUME DATA FILE WRITTEN")

OPEN DATA FILE WRITTEN
HIGH DATA FILE WRITTEN
LOW DATA FILE WRITTEN
CLOSE DATA FILE WRITTEN
VOLUME DATA FILE WRITTEN

In [26]:
closedata = pd.read_csv(r'C:/Users/user/Documents/GitHub/AY2324S1-ML-Empowered-Stat-Arb/Data/Feature Data/close.csv').set_index('datadate')

def rsi(data, period = 14, ema = True):
    
    #Returns a pd.Series with the relative strength index.
    close_delta = data.diff()

    # Make two series: one for lower closes and one for higher closes
    up = close_delta.clip(lower=0)
    down = -1 * close_delta.clip(upper=0)
    
    if ema == True:
	    # Use exponential moving average
        ma_up = up.ewm(com = period - 1, adjust=True, min_periods = period).mean()
        ma_down = down.ewm(com = period - 1, adjust=True, min_periods = period).mean()
    else:
        # Use simple moving average
        ma_up = up.rolling(window = period, adjust=False).mean()
        ma_down = down.rolling(window = period, adjust=False).mean()
        
    rsi = ma_up / ma_down
    rsi = 100 - (100/(1 + rsi))
    return rsi

rsidata = pd.DataFrame()

for ticker in closedata.columns:
    data = pd.DataFrame(rsi(closedata.loc[:,ticker]))
    rsidata = pd.concat([rsidata,data],1)
rsidata.to_csv('C:/Users/user/Documents/GitHub/AY2324S1-ML-Empowered-Stat-Arb/Data/Feature Data/rsi.csv')
print("RSI DATA FILE WRITTEN")

RSI DATA FILE WRITTEN

In [70]:
highdata = pd.read_csv(r'C:/Users/user/Documents/GitHub/AY2324S1-ML-Empowered-Stat-Arb/Data/Feature Data/high.csv').set_index('datadate')
lowdata = pd.read_csv(r'C:/Users/user/Documents/GitHub/AY2324S1-ML-Empowered-Stat-Arb/Data/Feature Data/low.csv').set_index('datadate')
closedata = pd.read_csv(r'C:/Users/user/Documents/GitHub/AY2324S1-ML-Empowered-Stat-Arb/Data/Feature Data/close.csv').set_index('datadate')

def atr(high, low, close, period=14):
    
    tr = np.maximum(high - low, np.abs(high - close.shift()), np.abs(low - close.shift()))
    atr = tr.ewm(alpha=1/period, adjust=False).mean()
    
    return atr

atrdata = pd.DataFrame()

for ticker in closedata.columns:
    data = pd.DataFrame(atr(highdata.loc[:,ticker],lowdata.loc[:,ticker],closedata.loc[:,ticker]))
    atrdata = pd.concat([atrdata,data],1)

atrdata.to_csv('C:/Users/user/Documents/GitHub/AY2324S1-ML-Empowered-Stat-Arb/Data/Feature Data/atr.csv')
print("ATR DATA FILE WRITTEN")

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,AAP,...,WMB,WYNN,XEL,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
datadate,,,,,,,,,,,,,,,,,,,,,
2009-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-05,0.980000,1.360000,1.410000,NaN,0.780000,1.430000,0.450000,0.890000,0.810000,0.760000,...,1.100000,6.750000,0.530000,0.770000,NaN,1.190000,0.370000,0.980000,0.930000,NaN
2009-01-06,1.003571,1.356429,1.535000,NaN,0.805000,1.409286,0.471429,0.902143,0.850714,0.778571,...,1.112143,6.605000,0.540714,0.758929,NaN,1.169286,0.427143,0.977857,0.950000,NaN
2009-01-07,1.030459,1.368112,1.506071,NaN,0.786786,1.487908,0.526327,0.897704,0.882792,0.841531,...,1.089133,6.598214,0.522806,0.755434,NaN,1.172194,0.458061,1.002296,1.030000,NaN
2009-01-08,1.046855,1.327533,1.482781,NaN,0.770230,1.414486,0.543017,0.886440,0.873307,0.877850,...,1.058480,6.300485,0.507606,0.777188,NaN,1.147037,0.524628,1.077132,1.052857,NaN
2009-01-09,1.074937,1.299138,1.463296,NaN,0.752356,1.385594,0.532802,0.858837,0.888071,0.875503,...,1.040017,6.084022,0.497777,0.790246,NaN,1.132963,0.569476,1.055908,1.024796,NaN
2009-01-12,1.084584,1.247056,1.488775,NaN,0.750045,1.360195,0.534030,0.887491,0.878208,0.904396,...,1.065195,5.893020,0.480078,0.772372,NaN,1.106323,0.600228,1.070486,1.072310,NaN
2009-01-13,1.120685,1.270124,1.470291,NaN,0.752185,1.420181,0.528028,0.934813,0.920479,0.897653,...,1.035538,5.712804,0.476501,0.762917,NaN,1.116586,0.592355,1.103309,1.120717,NaN
2009-01-14,1.147779,1.305115,1.432413,NaN,0.770600,1.465882,0.522455,1.033041,0.941159,0.887821,...,1.035142,5.512561,0.471751,0.753422,NaN,1.111115,0.623608,1.110929,1.125666,NaN
2009-01-15,1.170795,1.386178,1.432955,NaN,0.776986,1.472605,0.511565,1.059967,0.934648,0.940120,...,1.021918,5.467378,0.463055,0.773892,NaN,1.154607,0.640493,1.105149,1.263832,NaN
2009-01-16,1.211452,1.374308,1.411315,NaN,0.786487,1.448133,0.513596,1.055669,0.943602,0.965111,...,1.041067,5.294708,0.458494,0.773614,NaN,1.144992,0.654029,1.097638,1.373559,NaN
2009-01-20,1.321349,1.376143,1.453364,NaN,0.789595,1.413266,0.510482,1.055978,1.001916,1.011889,...,1.047419,5.203658,0.467173,0.809785,NaN,1.163921,0.682313,1.182807,1.521876,NaN
2009-01-21,1.373395,1.380705,1.585267,NaN,0.821767,1.424462,0.513305,1.127694,1.043207,1.065325,...,1.046175,4.989825,0.460946,0.811943,NaN,1.155784,0.685005,1.169035,1.580313,NaN
2009-01-22,1.399581,1.442797,1.602034,NaN,0.805926,1.412714,0.517355,1.136430,1.053693,1.111374,...,1.030019,4.876266,0.473021,0.805376,NaN,1.188942,0.691076,1.199104,1.576005,NaN
2009-01-23,1.396754,1.464026,1.564745,NaN,0.800503,1.378235,0.528258,1.166685,1.078429,1.186275,...,1.050018,4.774390,0.468520,0.833563,NaN,1.178304,0.722428,1.187739,1.517719,NaN
2009-01-26,1.414843,1.459453,1.605835,NaN,0.791181,1.372647,0.519097,1.148708,1.056398,1.186541,...,1.037874,4.656934,0.462911,0.830630,NaN,1.210568,0.718683,1.176472,1.550025,NaN
2009-01-27,1.405211,1.441635,1.590418,NaN,0.824668,1.341743,0.502818,1.114514,1.041656,1.193931,...,1.011597,4.555010,0.454132,0.836299,NaN,1.179277,0.711634,1.278153,1.669309,NaN

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,AAP,...,WMB,WYNN,XEL,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
datadate,,,,,,,,,,,,,,,,,,,,,
2009-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-05,0.980000,1.360000,1.410000,NaN,0.780000,1.430000,0.450000,0.890000,0.810000,0.760000,...,1.100000,6.750000,0.530000,0.770000,NaN,1.190000,0.370000,0.980000,0.930000,NaN
2009-01-06,1.003571,1.356429,1.535000,NaN,0.805000,1.409286,0.471429,0.902143,0.850714,0.778571,...,1.112143,6.605000,0.540714,0.758929,NaN,1.169286,0.427143,0.977857,0.950000,NaN
2009-01-07,1.030459,1.368112,1.506071,NaN,0.786786,1.487908,0.526327,0.897704,0.882792,0.841531,...,1.089133,6.598214,0.522806,0.755434,NaN,1.172194,0.458061,1.002296,1.030000,NaN
2009-01-08,1.046855,1.327533,1.482781,NaN,0.770230,1.414486,0.543017,0.886440,0.873307,0.877850,...,1.058480,6.300485,0.507606,0.777188,NaN,1.147037,0.524628,1.077132,1.052857,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,3.033922,0.890297,1.161820,1.493144,7.384069,2.822537,1.076675,0.649083,4.970137,3.157060,...,0.402423,3.328455,0.856777,2.061451,1.302338,1.336091,5.621502,2.355212,0.732769,2.085742
2019-12-26,2.900071,0.865276,1.124547,1.477205,7.273778,2.682356,1.039770,0.633434,4.732985,3.119498,...,0.396893,3.202137,0.830221,1.997062,1.283600,1.347085,5.505681,2.356268,0.766143,1.998903
2019-12-27,2.830066,0.828827,1.096365,1.475262,6.982794,2.563616,1.023358,0.608903,4.617050,3.021677,...,0.387115,3.195556,0.804134,1.940129,1.231914,1.293365,5.438132,2.255820,0.747133,1.934696
2019-12-30,2.868861,0.807482,1.102339,1.482029,6.814023,2.608358,1.017325,0.596695,4.665832,3.007986,...,0.398035,3.170873,0.787410,1.922977,1.185349,1.285981,5.262908,2.259333,0.749123,1.928725
2019-12-31,2.772514,0.786234,1.075386,1.427598,6.608021,2.537396,1.003231,0.582646,4.596130,2.922415,...,0.414604,3.074382,0.760810,1.899907,1.163538,1.260926,5.070558,2.199381,0.726329,1.871673

ATR DATA FILE WRITTEN